<!DOCTYPE html>
<html>
    <head>
        <title>helyanny's current struggle</title>
    </head>

    <header>
        <h1><a href="/">helyanny's current struggle</a></h1>
    </header>

    <body>
        <p>testing testing</p>
        <p>first using html! let's see how it goes</p>
    </body>

    <article>
        <time>published on June 5th, 2026</time>
        <h2>first article... question mark ?</h2>
        <p> to be or not to be, is it better to speak or to die, you think therefore you are</p>
        <p> ai may replace many, but it certainly won't replace my inability to sit through
            the entirety of interstellar</p>
    </article>


    {% for post in posts %}
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    {% endfor %}

    <header>
        <h3 style="color:Crimson;">my f1 predictions</h3>
    </header>
    <body>
        <p>if you are reading this on june 5th 2026, my prediction is</p>
        <strong>lewis hamilton will get p1 in monaco on june 7th 2026</strong>

</html>